$primary: #5265E1;
// $primary: #6ee152;
$secondary: #FA5959;

@import '../node_modules/bootstrap/scss/bootstrap';

.custom-margin {
    margin-top: 130px;
}

.right-blue-box {
    background-color: $primary;
    position: relative;
    z-index: -1;
    width: 90%;
    height: 60%;
    border-bottom-left-radius: 25% 35%;
    top: -60%;
    left: 30%;
}

.left-blue-box1 {
    background-color: $primary;
    position: relative;
    z-index: -1;
    width: 90%;
    height: 50%;
    border-bottom-right-radius: 25% 35%;
    top: -40%;
    left: -30%;
}

.left-blue-box2 {
    background-color: $primary;
    position: relative;
    z-index: -1;
    width: 90%;
    height: 60%;
    border-bottom-right-radius: 25% 35%;
    top: -50%;
    left: -30%;
}

.left-blue-box3 {
    background-color: $primary;
    position: relative;
    z-index: -1;
    width: 90%;
    height: 60%;
    border-bottom-right-radius: 25% 35%;
    top: -50%;
    left: -30%;
}